@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl font-bold md:text-3xl;
  }

  h2 {
    @apply text-xl md:text-2xl font-semibold;
  }

  h3 {
    @apply text-lg;
  }

  hr {
    @apply bg-gray-50 w-full h-[1px] my-1;
  }

  label,
  input,
  details {
    @apply cursor-pointer;
  }

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type='number'] {
    -moz-appearance: textfield;
  }

  button:disabled,
  button[disabled] {
    cursor: not-allowed !important;
  }
}

@layer components {
  .btn {
    @apply center p-2 w-fit rounded-sm;
  }

  .primaryBtn {
    @apply btn bg-blue-600 hover:bg-blue-500 text-white;
  }

  .secondaryBtn {
    @apply btn bg-gray-200 hover:bg-gray-100 text-gray-600;
  }

  .card {
    @apply p-4 border border-slate-200 shadow-xl rounded-md;
  }

  .error {
    @apply text-red-500 my-1;
  }

  .spinner {
    @apply border-[10px] border-gray-300 border-t-blue-600 h-20 w-20;
  }

  .spinnerSmall {
    @apply border-4 border-white border-t-gray-300 h-4 w-4;
  }
}

@layer utilities {
  .center {
    @apply flex items-center justify-center;
  }

  .limitContent {
    @apply max-w-screen-xl mx-auto;
  }
}
